body {
    width: 1440px;
    height: 1093px;
    background-color: #FFFFFF;
    color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif; 
    background-image: url('./images/Bitmap.png');
    background-repeat: no-repeat;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1103.41px;
    height: 29.46px;
    padding: 40.58px 168.295px;


}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 234px;
    height: 15px;
}
.menu a {
    text-decoration: none; 
    font-size: 12px;
    font-weight: 700; 
    color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
}

.Title{
    margin-top: 100px;
    margin-left:-8px ;
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 243px;
    
}

.Title h1{
    margin-top: 0;
    font-size: 120px;
    font-weight: 700px; 
    width: 684px;
    height: 50px;
}

.Title p{
    margin-top: 0;
   text-align: justify;
   -webkit-text-align-last: justify;
   text-align-last: justify; 
    width: 253px;
    height: 20px;
    font-size: 16px;
    font-weight: 700; 

}

.Title button{
    
    width: 162px;
    height: 44px;
    border-radius: 22px;
    background-color: #C271FF;
    color: #FFFFFF;
    border: none;
    font-family: 'Source Sans Pro', sans-serif; 
    font-weight: 600;
    font-size: 14px;
    box-shadow: 3px 3px 10px 3px rgba(0.25,0.25,0.25,0.25);
}

.pros{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.pros h2 {
    font-weight: 200;
    font-size: 32px;
    
}
.highlight{
    color: #C271FF;
    font-weight: 700;
}

.avatar{
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1009px;
    height: 237px;
   
}
.avatar div {
    width: 150px;
    height: 237px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    line-height: 0;
    
}
.avatar div img {
    max-width: 100%; 
    height: auto; 
}
.avatar div h2 {
    height: 27px;
    line-height: 27px;
    font-size: 18px;
}
.avatar div p {
    margin-top: 0;
    height: 48px;
    line-height: 24px;
    font-style: italic;
    font-size: 16px;
    text-align: center;
}

.testimonials{
    margin-top: 115px;
    margin-left: -9px;
    background-color: #c271ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 392px;
  }
  
  .testimonialsDiv{
    display: flex;
    align-items: center;
 
    width: 943px;
    height: 160px;
    font-size: 22px;
  }
  
  .testimonials img {
    margin-right: 53px;
  }

  
  .person-name {
    font-weight: bold;
    margin-left: 40px ;
   
  }
  
  .weather-presenter {
    font-style: italic;
    margin-left: 40px ;
   
  }

  .tutorials{
    margin-top: 115px;
  }
  
  .tutorials h1 {
    color: black;
    text-align: center;
    font-weight: 200;
    font-size: 32px;
  }

  .highlight2{
    color: #C271FF;
    font-weight: 700;
}

.videosContainer{
    margin-top: 57.5px;
    margin-left: 106px;
    display: flex;
    width: 255px;
    height: 335px;
    gap:31px;
    padding: 0 31px;
    color: #071629;
 }

 .video {
    width: 255px;
    height: 154px;
 }

 .tutorials h2 {
    font-size: 16px;
    font-weight: 700;
 }
 .tutorialsText {
    width: 242px;
    height: 48px;
    color: rgba(7, 22, 41, 0.5);
    font-size: 14px;
    font-weight: 400;

 }
 
 .avatarAndName{
    display: flex;
    align-items: center;
    gap: 13px;
 }
 .avatar1{
    width: 30px;
    height: 30px;
 }
.tutorials h3 {
    color: #C271FF;
    font-weight: 600;
    font-size: 14px;
}

 .star {
    width: 107px;
    height: 15px;
 }
 .min {
margin-top: -13px;
text-align: right;
color: #C271FF;
font-size: 14px;
font-weight: 400;
 }



